html {
    font-size: 10px;
    @include breakpoint(large-mobile) {
        font-size: 12px;
    }
}
body {
    font-family: $primaryFont;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 300;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
.main-nav {
    background: $primaryColor;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    @include breakpoint(tablet) {
        display: none;
    }
    .nav-trigger {
        background-image: url("../images/th-menu.svg");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 44px;
        height: 44px;
    }
}
<<<<<<< HEAD
=======
.menuIcon {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    li {
      background-image:url('../images/icons/border.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 5px;
      padding: 15px 30px;
      img {
        height: auto;
        width: 40px;
      }
    }
  }
}
.hide {
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
}
.menu {
    font-size: 1.5rem;
    background-color: rgba(159, 69, 155, 0.65);
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    @include breakpoint(tablet) {
        display: none;
    }
    ul {
        color: #fff;
        padding: 0;
        text-align: center;
        li {
            font-size: 2.5rem;
            margin-top: 5px;
        }
    }
}
>>>>>>> ffa733923d37aa73d6758f206a5c41d0005c6e36
.bg {
    background-image: url("../images/top.jpg");
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 50px);
    text-align: center;
    box-sizing: border-box;
    color: #ffffff;
    transition: min-height 999s;
    padding: 50px 0;
    @include breakpoint(tablet) {
        height: auto;
    }
    h1 {
        font-size: 6rem;
        margin: 0;
        font-family: $secondaryFont;
        font-weight: 300;
    }
    span {
        color: $primaryColor;
    }
    p {
        font-size: 1.9rem;
        &:first-of-type {
            font-size: 2.7rem;
            margin: 35px 0;
        }
    }
    .menuIcon {
        display: none;
        margin-top: 100px;
        @include breakpoint(tablet) {
            display: block;
        }
        ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: flex-start;
            li {
                background-image: url('../images/icons/border.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                padding: 10px 6px;
                box-sizing: border-box;
                .topMarg {
                    margin-top: 100px;
                }
                a {
                    display: block;
                    width: 105px;
                    height: 115px;
                }
                &:hover {
                    background-image: url('../images/icons/backgr.png');
                }
                img {
                    height: auto;
                    width: 40px;
                    margin-top: 25px;
                }
                p {
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
            .topMarg {
                margin-top: 150px;
            }
        }
    }
    .downArrow {
        background: url('../images/borderSm.png') center no-repeat /cover;
        width: 65px;
        height: 70px;
        display: none;
        margin: 0 auto;
        @include breakpoint(tablet) {
            display: block;
        }
        &:hover {
            background-image: url('../images/borderSmCol.png');
        }
        a {
            padding: 15px;
            img {
                margin-top: 30px;
            }
        }
    }
}
.menu {
    font-size: 1.5rem;
    background-color: rgba(159, 69, 155, 0.65);
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    @include breakpoint(tablet) {
        display: none;
    }
    ul {
        color: #fff;
        padding: 0;
        text-align: center;
        li {
            font-size: 2.5rem;
            margin-top: 5px;
        }
    }
}
.hide {
    display: none;
}
section.stickyMenu {
    display: none;
    min-height: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    // @include breakpoint(tablet) {
    //     display: flex;
    // }
    h2 {
        font-size: 3rem;
        margin: 0 30px;
        font-family: $secondaryFont;
        font-weight: 300;
    }
    span {
        color: $primaryColor;
    }
    ul {
        display: inline-block;
        margin: 15px 0 10px;
        li {
            display: inline-block;
            margin: 0 5px;
            text-transform: uppercase;
            a {
                color: #676767;
                font-weight: 400;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}
.visibility {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    border: 1px solid #cccccc;
    padding: 0;
    z-index: 999;
}
.icons {
    background-color: $secondaryColor;
    .iconSection {
        padding: 15px;
        @include breakpoint(tablet) {
            min-height: 500px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px;
        }
        div {
            @include breakpoint(tablet) {
                display: block;
                margin: 10px;
            }
        }
        img {
            min-width: 70px;
            max-width: 110px;
            height: auto;
            @include breakpoint(tablet) {
                display: inline-block;
            }
        }
        section {
            // min-height: 25vh;
            transition: min-height 999999s;
            display: flex;
            align-items: center;
            margin: 10px 0;
            box-sizing: border-box;
            @include breakpoint(tablet) {
                display: block;
                text-align: center;
                flex: 0 0 50%;
            }
            @include breakpoint(desktop) {
                flex: 0 0 25%;
            }
            p {
                font-size: 1.5rem;
                margin: 0;
                &:first-child {
                    font-size: 2.2rem;
                    margin-bottom: 15px;
                }
            }
        }
        .leftSection {
            img {
                margin-right: 10px;
            }
        }
        .rightSection {
            flex-direction: row-reverse;
            text-align: right;
            @include breakpoint(tablet) {
                text-align: center;
            }
            img {
                margin-left: 10px;
            }
        }
    }
}
.sectionHeader {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    h2 {
        font-weight: 400;
        padding: 0 15px;
        color: #676767;
    }
    &:before {
        content: "";
        width: 10px;
        height: 10px;
        border-left: 1px solid $primaryColor;
        border-bottom: 1px solid $primaryColor;
        align-self: flex-end;
    }
    &:after {
        content: "";
        width: 10px;
        height: 10px;
        border-right: 1px solid $primaryColor;
        border-top: 1px solid $primaryColor;
        align-self: flex-start;
    }
    span {
        color: $primaryColor;
    }
}
.aboutUs {
    padding: 20px 15px 15px;
    font-weight: 300;
    .contentWrapper {
        text-align: center;
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 70px;
            margin-bottom: 70px;
        }
        img {
            width: 70%;
            max-width: 365px;
            height: auto;
            @include breakpoint(tablet) {}
        }
        p {
            font-size: 1.3rem;
            line-height: 2;
            @include breakpoint(tablet) {
                text-align: left;
                max-width: 500px;
                margin-left: 15px;
            }
        }
        a {
            background-color: $primaryColor;
            padding: 10px 20px;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            display: block;
            margin: 10px auto;
            width: 100px;
            height: 20px;
            text-align: center;
            line-height: normal;
            @include breakpoint(tablet) {
                margin: 0;
            }
        }
    }
}
.bg2 {
    background-image: url("../images/middleBg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    text-align: center;
    box-sizing: border-box;
    color: #ffffff;
    padding: 70px 0;
    img {
        width: 120px;
        height: auto;
    }
    p {
        font-size: 2rem;
    }
}
.ourTeam {
    padding: 20px 15px 30px;
    text-align: center;
    .navButton {
        @include breakpoint(tablet) {
            margin: 60px 0;
        }
        img {
            height: auto;
            width: 12%;
            max-width: 60px;
            min-width: 32px;
            margin: 20px 0 10px;
        }
        .nextBtn,
        .prevBtn {
            position: relative;
            &:active {
                top: 1px;
            }
        }
    }
    .slider {
        width: 250px;
        overflow: hidden;
        margin: 0 auto;
        font-size: 0;
        @include breakpoint(large-mobile) {
            width: 500px;
        }
        @include breakpoint(tablet) {
            width: 750px;
<<<<<<< HEAD
            margin-bottom: 50px;
=======
>>>>>>> ffa733923d37aa73d6758f206a5c41d0005c6e36
        }
        .employeesList {
            position: relative;
            li {
                display: inline-block;
                width: 250px;
                min-height: 315px;
                vertical-align: top;
                div.employe {
                    figure {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        background-color: #938d8d;
                        display: inline-block;
                        img {
                            border-radius: 50%;
                            width: inherit;
                            height: inherit;
                            margin: 0;
                        }
                    }
                    img {
                        display: inline-block;
                        margin: 0 5px;
                        width: 20%;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
.ourSkills {
    padding: 20px 40px 50px;
    .allSkillBar {
        max-width: 80%;
        margin: 0 auto;
        @include breakpoint(tablet) {
            display: flex;
            margin: 60px auto;
            flex-wrap: wrap;
            max-width: 960px;
        }
    }
    div.skillBar {
        @include breakpoint(tablet) {
            flex: 0 0 50%;
            margin: 0;
            box-sizing: border-box;
            padding: 0 20px;
        }
    }
    p {
        font-family: $secondaryFont;
        font-weight: bold;
        text-transform: uppercase;
        margin: 40px 0 2px;
        span {
            float: right;
            font-weight: 300;
        }
    }
    .ProgBar {
        background-color: #f0f0f0;
        width: 100%;
        height: 5px;
        @include breakpoint(tablet) {
            height: 15px;
        }
        span {
            background-color: $primaryColor;
            height: 5px;
            display: block;
            transition: width 1s ease-in-out;
            // transition: width 3s  cubic-bezier(.34,1.76,.68,1.79);
            width: 0;
            @include breakpoint(tablet) {
                height: 15px;
            }
        }
    }
}
.animate {
    &.webDesign {
        span {
            width: 90%;
        }
    }
    &.graphicDesign {
        span {
            width: 70%;
        }
    }
    &.htmlCss {
        span {
            width: 75%;
        }
    }
    &.uiUx {
        span {
            width: 85%;
        }
    }
}
.nextPart {
    padding: 15px;
    text-align: center;
    margin-bottom: 50px;
    & > p {
        max-width: 60%;
        margin: 25px auto;
    }
    .statistic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        p {
            font-size: 3.5rem;
            font-weight: 400;
            margin: 10px 25px;
            &::after {
                content: "Lorem ipsum";
                font-size: 1.5rem;
                display: block;
                font-weight: 300;
            }
        }
    }
    .secondSlider {
        width: 250px;
        overflow: hidden;
        margin: 0 auto;
        font-size: 0;
        @include breakpoint(large-mobile) {
            width: 450px;
        }
        @include breakpoint(tablet) {
            width: 650px;
        }
        ul {
            position: relative;
            li {
                display: inline-block;
                width: 250px;
                @include breakpoint(large-mobile) {
                    width: 450px;
                }
                @include breakpoint(tablet) {
                    width: 650px;
                }
                figure {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: $figureColor;
                    display: inline-block;
                    img {
                        border-radius: 50%;
                        width: inherit;
                        height: inherit;
                        margin: 0;
                    }
                }
                p {
<<<<<<< HEAD
                    font-size: 1.5rem;
                    &:last-of-type {
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 1.5rem;
                    }
=======
                  font-size: 1.5rem;
                  &:last-of-type {
                      text-transform: uppercase;
                      font-weight: 400;
                      font-size: 1.5rem;
                  }
>>>>>>> ffa733923d37aa73d6758f206a5c41d0005c6e36
                }
            }
        }
    }
    .circleNav {
<<<<<<< HEAD
        span {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $figureColor;
            display: inline-block;
            margin: 15px 5px;
            cursor: pointer;
        }
=======
      span {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid $figureColor;
          display: inline-block;
          margin: 15px 5px;
      }
>>>>>>> ffa733923d37aa73d6758f206a5c41d0005c6e36
    }
    .active {
        background-color: $figureColor;
    }
}
.portfolio {
    padding: 10px 15px;
    margin-bottom: 20px;
    .box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        figure {
            margin: 0 10px 15px;
            @include breakpoint(tablet) {
                flex: 0 0 24%;
            }
        }
        p {
            font-weight: 600;
            text-align: center;
            margin: 0 0 10px;
            span {
                display: block;
                font-weight: 300;
                font-size: 1.5rem;
            }
        }
        img {
            max-width: 250px;
            height: auto;
            @include breakpoint(tablet) {
                max-width: 330px;
            }
        }
    }
    .watchBtn {
        background-color: $primaryColor;
        padding: 10px 20px;
        border-radius: 5px;
    }
    p {
        text-align: center;
    }
}
.formSection {
    text-align: center;
    margin-top: 120px;
    padding-bottom: 140px;
    form.contactForm {
        text-align: center;
        width: 80%;
        max-width: 530px;
        margin: 0 auto;
        @include breakpoint(large-desktop) {
            display: inline-block;
            text-align: left;
            vertical-align: top;
        }
        input[type=email],
        input[type=text] {
            width: 100%;
            height: 30px;
            margin: 8px 0;
            box-sizing: border-box;
            padding: 20px 5px;
            outline: none;
            border: 1px solid $figureColor;
            &:focus,
            &:focus {
                box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, .5);
                border: 2px solid $primaryColor;
            }
        }
        input[type=submit] {
            background-color: $primaryColor;
            padding: 10px 20px;
            color: #fff;
            border-radius: 5px;
            border: none;
            margin-bottom: 20px;
        }
        textarea {
            margin: 8px 0;
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            outline: none;
            border: 1px solid $figureColor;
            &:focus {
                box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, .5);
                border: 2px solid $primaryColor;
            }
        }
    }
    .addressContact {
        text-align: center;
        @include breakpoint(large-desktop) {
            width: 50%;
            display: inline-block;
            text-align: left;
            margin-left: 20px;
        }
        p {
            margin: 10px auto;
            width: 90%;
            &:nth-of-type(2) {
                font-weight: 500;
            }
            @include breakpoint(large-desktop) {
                margin: 20px 0;
                &:first-of-type {
                    margin-top: 0;
                }
            }
            span {
                margin-top: 10px;
                display: block;
                @include breakpoint(large-desktop) {
                    margin-top: 20px;
                }
            }
        }
        .socialIcon {
            margin-top: 20px;
            a {
                @include breakpoint(large-desktop) {
                    margin: 0 10px;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
                img {
                    width: 10%;
                    max-width: 65px;
                    min-width: 32px;
                    height: auto;
                }
            }
        }
    }
    h1 {
        color: $colorFont;
        font-weight: 400;
        margin-top: 100px;
        span {
            display: inline-block;
            color: $primaryColor;
        }
    }
}
