// Breakpoints
@mixin breakpoint($breakpoint, $media: screen) {
     @if $breakpoint == large-mobile {
        @media only #{$media} and (min-width: $large-mobile) {
             @content;
        }
    }
    @else if $breakpoint == tablet {
         @media only #{$media} and (min-width: $tablet){
            @content;
        }
    }
    @else if $breakpoint == desktop {
         @media only #{$media} and (min-width: $desktop){
            @content;
        }
    }
    @else if $breakpoint == large-desktop {
         @media only #{$media} and (min-width: $large-desktop){
            @content;
        }
    }
}
